Intro

Python, R, SQL

Panda, NumPy,TensorFlow, Keras ,Matplotlib,Seaborn

# Data Science Final Project

## Introduction
This notebook presents various exercises covering data science tools, languages, and arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools
| Tool           | Description                            |
|----------------|----------------------------------------|
| Jupyter        | Interactive computing environment      |
| RStudio        | IDE for R                              |
| Apache Spark   | Big data processing framework          |
| MATLAB         | Programming environment for numerical computing |

## Arithmetic Expression Examples
Below are some examples of arithmetic expressions in Python.

In [2]:
# Multiply and add two numbers
result = (5 * 4) + 2
result

22

In [3]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
- Understand different data science languages
- Learn about data science libraries
- Perform simple arithmetic operations

## Author
Clara Poumarede